#root {
  /* max-width: 1280px;
  margin: 0 auto; 
  padding: 2rem;
  */
  min-height: 100%;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Layout css */
.main-title {
  font-size: 54px;
  font-weight: 700;
  line-height: 73px;
  padding-top: 200px;
  margin-bottom: 3.2rem;
}

.service-area {
  text-align: left;
}
.service-img {
  width: 655px;
  height: 750px;
}
.service-title {
  font-weight: 700;
  font-size: 18px;
  color: #FF6F0F;
  margin-bottom: 10px;
}
.service-big-title {
  font-size: 42px;
  line-height: 57px;
  margin-bottom: 10px;
}
.service-desc {
  font-weight: 400;
  font-size: 20px;
  color: #7c7c7c;
  line-height: 30px;
}

.service-desc-title {
  font-size: 1.4rem;
  line-height: 1.5;
}
.service-desc-item {
  font-weight: 400;
  font-size: 13px;
  color: #7c7c7c;
  line-height: 17px;
}


