#root {
  min-height: 100%;
  text-align: center;
  /* css 변수 start */
  --primary-color: #FF6F0F;
  --padding-container-base: 48px;
  --background-color: #FFFFFF;
  --footer-font-color: #868B94;
  --footer-title-font-size: 15px;
  --footer-default-font-size: 13px;
  /* css 변수 end */
}
.logo {
  height: 6em;
  padding: 1.5em;
  display: block;
  margin: 0 auto;
}