/*
 * 공통 css 와 css 변수 정의
 */
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#root {
    min-height: 100%;
    text-align: center;
    /* css 변수 start */
    --primary-color: #FF6F0F;
    --secondary-color: #FFE2D2;
    --black: #000000;
    --gray: #868B94;
    --white: #FFFFFF;
    --test:#FF6F0F;

    /* --header-bg-color: #001b37; */
    --padding-container-base: 48px;
    --background-color: #FFFFFF;
    --header-height: 64px;

    --footer-font-color: #868B94;
    --footer-title-font-size: 15px;
    --footer-default-font-size: 13px;
    /* css 변수 end */
}