/*
 * DaangnHeader, DaangnLayout, DaangnFooter 컴포넌트 전용 css 
 */
@import url('../App.css');

/* header start */
.header-wrap {
    position: fixed;
    width: 100%;
    z-index: 10000;
    display: 'flex';
}
.header-area {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1140px;
    height: var(--header-height);
}
.header-logo {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}
.logo {
    height: 6em;
    padding: 1.5em;
    display: block;
    margin: 0 auto;
}
/* header end */

/* footer start */
.footer-wrap {
    display: flex;
    padding: 48px 40px 56px;
    font-weight: 500;
    font-size: var(--footer-default-font-size);
    line-height: 20px;
    letter-spacing: -0.2px;
    color:var(--footer-font-color);
    margin: 0 auto;
    max-width: 900px;
}

.footer-area1 {
    padding-bottom: 10px;
    line-height: 1.5;
    font-size: var(--footer-title-font-size);
}
.footer-menu {
    height: 64px;
    margin: 0 8px; /* 메뉴 사이의 가로 간격 조절 */
    font-weight: bold;
}
.footer-menu > a {
    color: inherit;
}

.footer-area2 {
    padding-left: 15px;
    padding-bottom: 20px;
    line-height: 0.4;
}
.footer-item-title {
    font-weight: bold;
    padding-right: 3px;
}

.footer-area3 {
    padding-left: 15px;
    padding-bottom: 40px;
    line-height: 1.5;
}
.footer-area3 > div > a {
    color: inherit;
}
/* footer end */
@media (max-width: 768px) {
    .main-menu {
        display: none;
    }

    .main-menu.mobile-menu {
        display: block;
    }
}